@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #9D72E8;
  /* Your default theme */
  --background: white;
  --foreground: black;
}

html.dark {
  --background: #121212;
  --foreground: white;
}

/* tailwind apply */
.flex-middle{
  @apply flex items-center;
}

.md-flex-middle{
  @apply md:flex items-center;
}

.lg-flex-middle{
  @apply lg:flex items-center;
}

.flex-center{
  @apply flex justify-center;
}

.flex-between{
  @apply flex justify-between;
}

.md-flex-between{
  @apply md:flex justify-between;
}

.lg-flex-between {
  @apply lg:flex justify-between;
}

.button{
  @apply py-2 px-4 rounded-md font-semibold bg-primary hover:underline text-black;
}